<h1>Edit <%= class_name.underscore.humanize.downcase.titleize %></h1>

<%%= comfy_form_for(@<%= class_name.underscore.downcase %>, :as => :<%= class_name.underscore.downcase %>, :url => { :action => :update }) do |form| %>
  <%%= render(:partial => 'form', :object => form) %>
<%%- end %>