= link_to "New <%= class_name.underscore.humanize.downcase.titleize %>", new_admin_<%= class_name.underscore.downcase %>_path, :class => 'big button'

%h1 <%= class_name.underscore.humanize.downcase.titleize.pluralize %>

%ul.list
  - if @<%= class_name.underscore.downcase.pluralize %>.empty?
    %li
      .item
        .sublabel
          No <%= class_name.underscore.humanize.downcase.titleize.pluralize %> Found
  - else
    - @<%= class_name.underscore.downcase.pluralize %>.each do |<%= class_name.underscore.downcase %>|
      %li
        .item
          .icon
          .action_links
            = link_to "Edit", edit_admin_<%= class_name.underscore.downcase %>_path(<%= class_name.underscore.downcase %>)
            = link_to "Delete", admin_<%= class_name.underscore.downcase %>_path(<%= class_name.underscore.downcase %>), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .label= <%= class_name.underscore.downcase %>.<%= model_attributes.first.name %>