<h1>New <%= class_name.underscore.humanize.downcase.titleize.pluralize %></h1>

<%%= comfy_form_for(@<%= class_name.underscore.downcase %>, :as => :<%= class_name.underscore.downcase %>, :url => {:action => :create}) do |form| %>
  <%%= render :partial => "form", :object => form %>
<%%- end %>